<section class="photo-group">
    <div class="photo-layout__wrapper">
      {{ entity.field_image[0] }}
      <div class="img-container__asymmetrical">
          {{ entity.field_image[1] }}
          {{ entity.field_image[2] }}
      </div>
  </div>
  {% if entity.field_caption|render is not empty or entity.field_credit|render is not empty %}
  <figcaption class="caption">
    {% if entity.field_caption is not empty %}
      {{ entity.field_caption|render|striptags }}
    {% endif %}
    {% if entity.field_credit is not empty %}
      <span class="img-credit">{{ entity.field_credit|render|striptags }}</span>
    {% endif %}
  </figcaption>
  {% endif %}
</section>
